.popupBox {
    margin: auto;

}
.chatArea {
    border:1px solid grey;
    resize: none;
}

.popup-box {
   background-color: #ffffff;
    border: 1px solid;
    bottom: 0;
    display: none;
    height: 415px;
    position: fixed;
    right: 70px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
}

.control-button {
    margin-top: 5px;
    background: transparent none repeat scroll 0 0;
    font-size: 12px;
}

.controllers .btn-group {
    display: inline-flex;
    margin: 6px 6px 0 0;
    vertical-align: top !important;
}

.panel .panel-heading {
    clear: both;
    color: #7b7b7b;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
    font-family: Oswald;
}

.panel-body{
    border-left: 1px solid #337ab7;
    border-right: 1px solid #337ab7;
    overflow-y: scroll;
    height: 300px;
}
.chatArea {
    width: 100%;
}
.panel-footer{
    border-left: 1px solid #337ab7;
    border-right: 1px solid #337ab7;
    border-bottom: 1px solid #337ab7;
}
